/*
 * Some of this styling shamelessly stolen from syfaro.net
 * cause Syfaro's image gallery is 10/10.
 */

body {
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
}

a {
    color: rgb(138,180,248);
    font-weight: 400;
    text-decoration: none;
}

.artwork-grid {
    column-gap: 2px
}

.artwork-grid.grid-200 {
    columns: 12 200px;
    grid-auto-columns: 200px
}

.artwork-grid.grid-400 {
    columns: 6 400px;
    grid-auto-columns: 400px
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 2em
}

.container.art {
    max-width: 95%
}

.artwork {
    width: 250px;
    text-align: center;
    break-inside: avoid;
}

img {
    border-radius: 5px;
    margin: 5px auto;
    display: block;
    width: 200px;
}

h2 {
    color: white;
    text-align: center;
}